/* SVG PARAMS */

.hillary .outer, .hillary .inner, .head .outer, .head .inner {
	fill: none;
	stroke: #aaa;
}
.rays line {
	fill: none;
	stroke: #aaa;
	stroke-width: 0.75;
}
.senator circle {
	fill: #228B22;
	cursor: pointer;
}
.senator.Democratic circle {
    fill: MediumBlue;
}
.senator.Republican circle {
    fill: Crimson;
}
.senator circle.hoverarea, .senator.Democratic circle.hoverarea, .senator.Republican circle.hoverarea {
	fill: rgba(0,0,0,0);
}
.senator:hover circle.hoverarea {
	stroke: #aaa;
	fill: #fefefe;
}

/* HTML LAYOUT */

body { 
    background-color: #fefefe;
}
#info {
	position: relative;
	height: 200px;
}
#senatorPortrait {
	width: 102px;
	height: 102px;
	position: absolute;
	top: 0px;
	right: 5px;
}
#senatorName {
	margin-bottom: 2px;
}